# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.firebase
untranslated.json
pubspec.lock
/lib/firebase_options.dart

# As packages are no longer pinned, we use a lockfile for testing locally.
# When unpinning packages, Using lockfiles ensures that failures in PRs are
# actually due to those PRs, not due to a package being updated.
!/pubspec.lock
!packages/flutter_tools/pubspec.lock
!packages/flutter_tools/test/widget_preview_scaffold.shard/widget_preview_scaffold/pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.VSCodeCounter/
/build/

# iOS
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Android
/android/.gradle/
/android/.kotlin/
/android/app/build/
/android/app/outputs/
/android/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx
