#logoLine {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
  animation: drawLine 800ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

#logoPen {
  transform: translate(100px, -100px);
  opacity: 0;
  animation: slideIn 800ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.myLoader {
  margin-top: 20px;
  position: relative;
  /* it will be shown after 2 seconds */
  height: 0px;
  width: 40%;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.myLoader::after {
  content: '';
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background: var(--myLoader-color, #ff0000);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1.5s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}