.myLoader {
  margin-top: 20px;
  display: block;
  position: relative;
  height: 12px;
  width: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.myLoader::after {
  content: '';
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background: var(--myLoader-color, #ff0000);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1.5s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}